@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/index/ABOUT.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}
.title h1 {
  font-family: 'Monteserrat',sans-serif;
  font-size: 50px;
  font-weight: bold;
}


.title h2 {
  font-size: 25px;
  margin-top: 15px;
}

.sub-title {
  position: relative;
  padding-top: 50px;
  font-size: 32px;
}

.sub-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #595959;
  position: relative;
  z-index: 0;
  padding-top: 50px;
  padding-bottom: 30px;
}

.sub-title::before {
	content: attr(data-en);
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(224,66,114,0.2);
	font-size: 80px;
	font-style: italic;
  font-weight: bold;
  padding-top: 90px;
  max-width: 80%;
}



.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  position: relative;
}

.feature img {
  width: 360px;
}

.feature-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.feature-text h4 {
  font-size: 17px;
  line-height: 28px;
  margin-top: 25px;
  color: #8c8c8c;
}

.feature-text h3::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.feature-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
  color: #8c8c8c;
}

.introduce h2 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 25px;
}

.introduce h3 {
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  color: #595959;
}

.introduce h4 {
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.introduce p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
  color: #8c8c8c;
}

.introduce {
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  align-items: flex-start;
}

.introduce h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.about-image {
  position: relative;
}

.about-image img {
  position: relative;
  z-index: 2;
}

.about-image::before {
  content: '';
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  
  box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

@media (max-width: 768px) {
  .feature {
    display: block;
    width: 500px;
    margin-top: 70px;
  }

  .feature-text {
    margin-right: 0;
    padding-bottom: 40px;
  }

  .reverse .feature-text {
    margin-left: 0;
  }

  .feature img {
    width: 100%;
    height: auto;
  }

  .sub-title::before {
    content: attr(data-en);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(224,66,114,0.2);
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    padding-top: 60px;
    max-width: 80%;
  }

}
